body {
  background-color: lightgrey;
}

@media screen and (max-width: 400px) {
  body {
    background-color: black;
  }
}

section {
    background-color: #45697f;
    border: solid #0e1c29 .312em;
    position: absolute;
    border-radius: .625em;
    left: 2%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    font-size: 1em;
}

@media all and (max-widht: 900px) {
  section {
    font-size: 5em;
  }
}

span {
  background-color: black;
  color: white;
  border: solid black;
  border-radius: .625em;
}

li {
  padding-bottom: 1.5%
}
